/* Custom CSS by JustArkzy, Obscure, Disease, Carrot  */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
--main-color: rgb(255, 255, 255); /* Original: rgb(42, 122, 212); */
--background-mentioned: hsla(360, 0%, 25%, 0.1); 
--font-primary: "Inter" !important;
--font-display: "Inter" !important;
}

.icon-3zI3d2 {
    display: none
}
.name-3BUDLf {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-weight: 700;
    text-align: center;
    transition: all .3s ease-in-out;
    opacity: .7
}
.name-3BUDLf:before {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background: linear-gradient(to left, var(--main-color) 50%, transparent);
    margin-right: 5px
}
.name-3BUDLf:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background: linear-gradient(to right, var(--main-color) 50%, transparent);
    margin-left: 5px
}

/*.attachWrapper-3slhXI {
  order: -1 !important;
  margin-right: 15px !important;
  margin-left: -15px !important;

  border-radius: 10px 0px 0px 10px !important;  
}

.attachButton-_ACFSu {
  height: 44px !important;
}
*/
.mainContent-uDGa6R:hover .name-3BUDLf {
    opacity: 1
}
.sidebar-1tnWFu .containerDefault-3TQ5YN .wrapper-1S43wv .name-3BUDLf,
.sidebar-1tnWFu .containerDragAfter-1J_-1V .wrapper-1S43wv .name-3BUDLf,
.sidebar-1tnWFu .containerDragBefore-ei4h1m .wrapper-1S43wv .name-3BUDLf,
.sidebar-1tnWFu .containerUserOver-3woq86 .wrapper-1S43wv .name-3BUDLf {
    color: var(--main-color)
}
.children-3MeUvj {
    margin-left: 3px
}
.collapsed-2KOacR .name-3BUDLf:before,
.collapsed-2KOacR .name-3BUDLf:after {
    flex-grow: 0
}

.mentioned-Tre-dv:before {
    --info-warning-foreground: rgba(255, 255, 255, 0.5)
}

.note-3M15gE {
  display: block !important;
}

.container-YkUktl:not(.powercord-spotify .container-YkUktl)
  .avatarWrapper-1B9FTW {
  grid-column: 1 / span 2;
}

.container-YkUktl:not(.powercord-spotify .container-YkUktl)
  .withTagAsButton-OsgQ9L,
.withTagless-10ooWt {
  min-width: unset !important;
}

.container-YkUktl:not(.powercord-spotify .container-YkUktl) .nameTag-sc-gpq {
  background: transparent;
  position: relative;
  margin: 0px;
  left: 8px;
}
